{
  "swagger": "2.0",
  "info": {
    "version": "v1",
    "title": "动态表单"
  },
  "host": "counselor.swu.edu.cn",
  "basePath": "/fighter-workflow",
  "tags": [{
    "name": "会议室预约流程",
    "description": "Meeting Room Reservation Controller"
  }, {
    "name": "动态表单-导入",
    "description": "Excel Import Controller"
  }, {
    "name": "动态表单-导出",
    "description": "Excel Export Controller"
  }, {
    "name": "学生上课签到",
    "description": "Xsskqd Controller"
  }, {
    "name": "学生离校留校申请流程",
    "description": "Xslxlxsqlc Controller"
  }, {
    "name": "学生离校留校统计",
    "description": "Xslxlxsqtj Controller"
  }, {
    "name": "定时任务测试",
    "description": "Test Controller"
  }, {
    "name": "寝室信息",
    "description": "Qsxx Controller"
  }, {
    "name": "流程-通用信息查询",
    "description": "Common Controller"
  }, {
    "name": "流程二开-上课签到流程",
    "description": "Skqdlc Controller"
  }, {
    "name": "流程二开-上课签到统计接口",
    "description": "Skqdtj Controller"
  }, {
    "name": "流程二开-健康打卡",
    "description": "Jkdk Controller"
  }, {
    "name": "流程二开-学生入校流程",
    "description": "Xsrxlc Controller"
  }, {
    "name": "流程二开-学生报到流程",
    "description": "Xsbdlc Controller"
  }, {
    "name": "流程二开-教职工入校流程",
    "description": "Jzgrxlc Controller"
  }, {
    "name": "流程二开-查寝流程",
    "description": "Cqlc Controller"
  }, {
    "name": "流程二开-查寝统计接口",
    "description": "Cqtj Controller"
  }, {
    "name": "流程二开-校外人员入校",
    "description": "Xwryrx Controller"
  }, {
    "name": "流程二开-获取基本信息",
    "description": "Xsjbxx Controller"
  }, {
    "name": "流程二开-获取年级信息",
    "description": "Grade Controller"
  }, {
    "name": "流程二开-请假销假",
    "description": "Xsqjxj Controller"
  }, {
    "name": "流程平台-业务数据列表-纯表单",
    "description": "Business List Form Controller"
  }, {
    "name": "流程平台-动态表单实例",
    "description": "Form Instance Controller"
  }, {
    "name": "流程平台-动态表单数据资源",
    "description": "Data Collection Resource Controller"
  }, {
    "name": "流程平台-动态表单模型",
    "description": "Form Model Operat Controller"
  }, {
    "name": "流程平台-动态表单远端数据获取",
    "description": "Debugger Case Controller"
  }, {
    "name": "流程平台-纯表单修改日志",
    "description": "Form Modify Log Controller"
  }, {
    "name": "用户选择器-默认实现类(用户弹框多选，单选公用)",
    "description": "Default Workflow User Choose Controller"
  }, {
    "name": "联动url产品封装",
    "description": "Form Cas Url Controller"
  }],
  "paths": {
    "/WorkflowCommon/get-rovince": {
      "post": {
        "tags": ["流程-通用信息查询"],
        "summary": "省市县3级联动",
        "operationId": "getProvinceUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "backFillColumn",
          "in": "query",
          "description": "下拉选回填字段key",
          "required": true,
          "type": "string"
        }, {
          "name": "cc",
          "in": "query",
          "description": "层次",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "formData",
          "description": "formData",
          "required": true,
          "schema": {
            "type": "object"
          }
        }, {
          "name": "inColumn",
          "in": "query",
          "description": "下拉选联动key",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/WorkflowCommon/getAddressCascade": {
      "get": {
        "tags": ["流程-通用信息查询"],
        "summary": "省市县联下拉",
        "operationId": "getAddressCascadeUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/WorkflowCommon/getAddressCascadeCq": {
      "get": {
        "tags": ["流程-通用信息查询"],
        "summary": "重庆省市县联下拉",
        "operationId": "getAddressCascadeCqUsingGET",
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/business-list/form/query": {
      "post": {
        "tags": ["流程平台-业务数据列表-纯表单"],
        "summary": "纯表单数据",
        "operationId": "queryUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "in": "body",
          "name": "queryCondition",
          "description": "queryCondition",
          "required": true,
          "schema": {
            "$ref": "#/definitions/BusinessListCondition"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/business-list/form/query-conditions": {
      "get": {
        "tags": ["流程平台-业务数据列表-纯表单"],
        "summary": "根据表单id获取查询条件",
        "operationId": "queryConditionsUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqlc/getBaseInfo": {
      "get": {
        "tags": ["流程二开-查寝流程"],
        "summary": "getBaseInfo",
        "operationId": "getBaseInfoUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "query",
          "description": "id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqlc/job": {
      "post": {
        "tags": ["流程二开-查寝流程"],
        "summary": "job",
        "operationId": "jobUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqlc/update": {
      "post": {
        "tags": ["流程二开-查寝流程"],
        "summary": "update",
        "operationId": "updateUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "id",
          "in": "query",
          "description": "id",
          "required": true,
          "type": "string"
        }, {
          "name": "status",
          "in": "query",
          "description": "status",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqlc/verify": {
      "post": {
        "tags": ["流程二开-查寝流程"],
        "summary": "verify",
        "operationId": "verifyUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "businessKey",
          "in": "query",
          "description": "businessKey",
          "required": false,
          "type": "string"
        }, {
          "in": "body",
          "name": "mapData",
          "description": "mapData",
          "required": true,
          "schema": {
            "type": "object"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/clockInTimeCheck": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "打卡时间校验(当前时间是否在打卡时间范围内)",
        "operationId": "clockInTimeCheckUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/deleteXsdkbmd": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "删除学生打卡白名单",
        "operationId": "deleteXsdkbmdUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "in": "body",
          "name": "xhs",
          "description": "学号",
          "required": false,
          "schema": {
            "$ref": "#/definitions/List"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/ding": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "钉钉提醒",
        "operationId": "dingUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "in": "body",
          "name": "xhs",
          "description": "xhs",
          "required": true,
          "schema": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/dingOcr": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "一键提醒",
        "operationId": "dingOcrUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "cqsj",
          "in": "query",
          "description": "cqsj",
          "required": true,
          "type": "string"
        }, {
          "name": "rwid",
          "in": "query",
          "description": "rwid",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/exportInventory": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "清单导出",
        "operationId": "exportInventoryUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "fbPid",
          "in": "query",
          "description": "fbPid",
          "required": false,
          "type": "string"
        }, {
          "name": "fbid",
          "in": "query",
          "description": "fbid",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "fdyxm",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "jssj",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "kssj",
          "required": false,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "njdm",
          "required": false,
          "type": "string"
        }, {
          "name": "qdjg",
          "in": "query",
          "description": "qdjg",
          "required": false,
          "type": "string"
        }, {
          "name": "tsrq",
          "in": "query",
          "description": "tsrq",
          "required": false,
          "type": "string"
        }, {
          "name": "xyid",
          "in": "query",
          "description": "xyid",
          "required": false,
          "type": "string"
        }, {
          "name": "xymc",
          "in": "query",
          "description": "xymc",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/exportStatisticsData": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "统计导出",
        "operationId": "exportStatisticsDataUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "bjmc",
          "in": "query",
          "description": "bjmc",
          "required": false,
          "type": "string"
        }, {
          "name": "fbPid",
          "in": "query",
          "description": "fbPid",
          "required": false,
          "type": "string"
        }, {
          "name": "fbid",
          "in": "query",
          "description": "fbid",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "fdyxm",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "jssj",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "kssj",
          "required": false,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "njdm",
          "required": false,
          "type": "string"
        }, {
          "name": "sfbjfz",
          "in": "query",
          "description": "sfbjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sffdyfz",
          "in": "query",
          "description": "sffdyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfnjfz",
          "in": "query",
          "description": "sfnjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfsjfz",
          "in": "query",
          "description": "sfsjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfxyfz",
          "in": "query",
          "description": "sfxyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfzyfz",
          "in": "query",
          "description": "sfzyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "tsrq",
          "in": "query",
          "description": "tsrq",
          "required": false,
          "type": "string"
        }, {
          "name": "xyid",
          "in": "query",
          "description": "xyid",
          "required": false,
          "type": "string"
        }, {
          "name": "zymc",
          "in": "query",
          "description": "zymc",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/exportTbtj": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "导出填报统计",
        "operationId": "exportTbtjUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "bjmc",
          "in": "query",
          "description": "班级名称",
          "required": false,
          "type": "string"
        }, {
          "name": "cxtj",
          "in": "query",
          "description": "条件：姓名、手机号、学号都可",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "结束时间",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "开始时间",
          "required": false,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "年级代码",
          "required": false,
          "type": "string"
        }, {
          "name": "sort",
          "in": "query",
          "description": "排序 asc：升序、desc 降序",
          "required": false,
          "type": "string",
          "default": "desc"
        }, {
          "name": "zymc",
          "in": "query",
          "description": "专业名称",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/getInventory": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "清单查询",
        "operationId": "getInventoryUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "cxtj",
          "in": "query",
          "description": "cxtj",
          "required": false,
          "type": "string"
        }, {
          "name": "fbPid",
          "in": "query",
          "description": "fbPid",
          "required": false,
          "type": "string"
        }, {
          "name": "fbid",
          "in": "query",
          "description": "fbid",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "fdyxm",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "jssj",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "kssj",
          "required": false,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "njdm",
          "required": false,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "qdjg",
          "in": "query",
          "description": "qdjg",
          "required": false,
          "type": "string"
        }, {
          "name": "tsrq",
          "in": "query",
          "description": "tsrq",
          "required": false,
          "type": "string"
        }, {
          "name": "xyid",
          "in": "query",
          "description": "xyid",
          "required": false,
          "type": "string"
        }, {
          "name": "xymc",
          "in": "query",
          "description": "xymc",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/getStatisticsData": {
      "get": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "查寝统计信息",
        "operationId": "getStatisticsDataUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "bjmc",
          "in": "query",
          "description": "bjmc",
          "required": false,
          "type": "string"
        }, {
          "name": "fbPid",
          "in": "query",
          "description": "fbPid",
          "required": false,
          "type": "string"
        }, {
          "name": "fbid",
          "in": "query",
          "description": "fbid",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "fdyxm",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "jssj",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "kssj",
          "required": false,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "njdm",
          "required": false,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "sfbjfz",
          "in": "query",
          "description": "sfbjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sffdyfz",
          "in": "query",
          "description": "sffdyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfnjfz",
          "in": "query",
          "description": "sfnjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfsjfz",
          "in": "query",
          "description": "sfsjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfxyfz",
          "in": "query",
          "description": "sfxyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfzyfz",
          "in": "query",
          "description": "sfzyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "tsrq",
          "in": "query",
          "description": "tsrq",
          "required": false,
          "type": "string"
        }, {
          "name": "xyid",
          "in": "query",
          "description": "xyid",
          "required": false,
          "type": "string"
        }, {
          "name": "zymc",
          "in": "query",
          "description": "zymc",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/getTransition": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "过渡页历史查询",
        "operationId": "getTransitionUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "tsrq",
          "in": "query",
          "description": "tsrq",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/getTransitionByToday": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "过渡页当日查询",
        "operationId": "getTransitionByTodayUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/healthHxceptionHandling": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "健康异常处理",
        "operationId": "healthHxceptionHandlingUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "id",
          "in": "query",
          "description": "ID",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/listReleaseData": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "发布清单",
        "operationId": "listReleaseDataUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "pageNum",
          "in": "query",
          "description": "当前页",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "页数",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "type",
          "in": "query",
          "description": "类型：1、进行中 2、历史",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/listReleaseDataById": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "根据id",
        "operationId": "listReleaseDataByIdUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "id",
          "in": "query",
          "description": "id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/pageTbtj": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "填报统计",
        "operationId": "pageTbtjUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "bjmc",
          "in": "query",
          "description": "班级名称",
          "required": false,
          "type": "string"
        }, {
          "name": "cxtj",
          "in": "query",
          "description": "条件：姓名、手机号、学号都可",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "结束时间",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "开始时间",
          "required": false,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "年级代码",
          "required": false,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "当前页",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "页数",
          "required": true,
          "type": "string"
        }, {
          "name": "sort",
          "in": "query",
          "description": "排序 asc：升序、desc 降序",
          "required": false,
          "type": "string",
          "default": "desc"
        }, {
          "name": "zymc",
          "in": "query",
          "description": "专业名称",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo«IPage«Map»»"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/pageTjxxByXh": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "根据学号获取统计信息",
        "operationId": "pageTjxxByXhUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "jssj",
          "in": "query",
          "description": "结束时间",
          "required": true,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "开始时间",
          "required": true,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "当前页",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "页数",
          "required": true,
          "type": "string"
        }, {
          "name": "xh",
          "in": "query",
          "description": "学号",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo«IPage«Map»»"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/pageXsdkbmd": {
      "get": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "学生打卡白名单",
        "operationId": "pageXsdkbmdUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "pageNum",
          "in": "query",
          "description": "当前页",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "页数",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "sfbmd",
          "in": "query",
          "description": "是否白名单 1：是、2否",
          "required": false,
          "type": "string"
        }, {
          "name": "xh",
          "in": "query",
          "description": "学号",
          "required": false,
          "type": "string"
        }, {
          "name": "xm",
          "in": "query",
          "description": "姓名",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo«IPage«Map»»"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/cqtj/saveXsdkbmd": {
      "post": {
        "tags": ["流程二开-查寝统计接口"],
        "summary": "添加学生打卡白名单",
        "operationId": "saveXsdkbmdUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "in": "body",
          "name": "xhs",
          "description": "学号",
          "required": false,
          "schema": {
            "$ref": "#/definitions/List"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/data-collection-resourece/field-query": {
      "get": {
        "tags": ["流程平台-动态表单数据资源"],
        "summary": "资源表（视图）字段查询-开放给业务系统管理员",
        "operationId": "fieldQueryUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "resourceId",
          "in": "query",
          "description": "resourceId",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/data-collection-resourece/table-or-view-query": {
      "post": {
        "tags": ["流程平台-动态表单数据资源"],
        "summary": "表（视图）资源分页查询-开放给业务系统管理员",
        "operationId": "tableOrViewQueryUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "in": "body",
          "name": "queryCondition",
          "description": "queryCondition",
          "required": true,
          "schema": {
            "$ref": "#/definitions/QueryCondition«TDataCollectionResource对象»"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/debugger-case/cas-url-example": {
      "post": {
        "tags": ["流程平台-动态表单远端数据获取"],
        "summary": "联动url(案例)",
        "description": "联动url案例",
        "operationId": "casUrlExampleUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "formData",
          "description": "formData",
          "required": true,
          "schema": {
            "type": "object"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/debugger-case/get-award-prize-money-by-grade-example": {
      "post": {
        "tags": ["流程平台-动态表单远端数据获取"],
        "summary": "通过奖学金等级获取金额(案例)",
        "description": "通过奖学金等级获取金额(案例)",
        "operationId": "getAwardPrizeMoneyByGradeExampleUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "formData",
          "description": "formData",
          "required": true,
          "schema": {
            "type": "object"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/debugger-case/get-cascader": {
      "get": {
        "tags": ["流程平台-动态表单远端数据获取"],
        "summary": "get方式级联，树形",
        "description": "get方式级联，树形",
        "operationId": "getCascaderUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/debugger-case/get-grade-by-variable-example": {
      "post": {
        "tags": ["流程平台-动态表单远端数据获取"],
        "summary": "通过变量获取下拉框(案例)",
        "description": "通过变量获取下拉框(案例)",
        "operationId": "getGradeByVariableExampleUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "formData",
          "description": "formData",
          "required": true,
          "schema": {
            "type": "object"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/debugger-case/get-select": {
      "get": {
        "tags": ["流程平台-动态表单远端数据获取"],
        "summary": "get方式单选，下拉，多选",
        "description": "get方式单选，下拉，多选",
        "operationId": "getSelectUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "searchKeyword",
          "in": "query",
          "description": "searchKeyword",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/debugger-case/post-cascader": {
      "post": {
        "tags": ["流程平台-动态表单远端数据获取"],
        "summary": "post方式级联，树形",
        "description": "post方式级联，树形",
        "operationId": "postCascaderUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/debugger-case/post-select": {
      "post": {
        "tags": ["流程平台-动态表单远端数据获取"],
        "summary": "post方式单选，下拉，多选",
        "description": "post方式单选，下拉，多选",
        "operationId": "postSelectUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "searchKeyword",
          "in": "query",
          "description": "searchKeyword",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/default-workflow-user-choose/search": {
      "get": {
        "tags": ["用户选择器-默认实现类(用户弹框多选，单选公用)"],
        "summary": "按组合条件查询用户信息",
        "operationId": "searchUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "loginName",
          "in": "query",
          "description": "loginName",
          "required": false,
          "type": "string"
        }, {
          "name": "name",
          "in": "query",
          "description": "name",
          "required": false,
          "type": "string"
        }, {
          "name": "orgName",
          "in": "query",
          "description": "orgName",
          "required": false,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo«IPage«UserChoose»»"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/excel-export/export-form-list": {
      "post": {
        "tags": ["动态表单-导出"],
        "summary": "exportFormList",
        "operationId": "exportFormListUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "in": "body",
          "name": "condition",
          "description": "condition",
          "required": true,
          "schema": {
            "type": "object"
          }
        }, {
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": false,
          "type": "string"
        }, {
          "name": "hasSerialNumber",
          "in": "query",
          "description": "hasSerialNumber",
          "required": false,
          "type": "boolean"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/excel-export/export-form-template": {
      "get": {
        "tags": ["动态表单-导出"],
        "summary": "exportFormTemplate",
        "operationId": "exportFormTemplateUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/excel-export/export-sub-data": {
      "get": {
        "tags": ["动态表单-导出"],
        "summary": "exportSubData",
        "operationId": "exportSubDataUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "dataId",
          "in": "query",
          "description": "数据id",
          "required": true,
          "type": "string",
          "default": "c274f6eef89a4504afdb64dfe77e59f9"
        }, {
          "name": "fileUniqueCode",
          "in": "query",
          "description": "附件id",
          "required": true,
          "type": "string",
          "default": "4874d3387f91410a85e85c876f90ca5c"
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string",
          "default": "b785229aabed48b693befca02b381140"
        }, {
          "name": "subProp",
          "in": "query",
          "description": "子表prop",
          "required": true,
          "type": "string",
          "default": "subFormHide"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/excel-export/export-sub-template": {
      "get": {
        "tags": ["动态表单-导出"],
        "summary": "exportSubTemplate",
        "operationId": "exportSubTemplateUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "fileUniqueCode",
          "in": "query",
          "description": "fileUniqueCode",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/excel-import/import-and-start-one-process": {
      "post": {
        "tags": ["动态表单-导入"],
        "summary": "importAndStartOneProcess",
        "operationId": "importAndStartOneProcessUsingPOST",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "file",
          "in": "formData",
          "description": "file",
          "required": true,
          "type": "file"
        }, {
          "name": "processDefinitionKey",
          "in": "query",
          "description": "processDefinitionKey",
          "required": true,
          "type": "string"
        }, {
          "name": "variablesStr",
          "in": "query",
          "description": "variablesStr",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/excel-import/import-form-list": {
      "post": {
        "tags": ["动态表单-导入"],
        "summary": "importFormList",
        "operationId": "importFormListUsingPOST",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "file",
          "in": "formData",
          "description": "file",
          "required": true,
          "type": "file"
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string",
          "default": "b785229aabed48b693befca02b381140"
        }, {
          "name": "isSubmitProcess",
          "in": "query",
          "description": "isSubmitProcess",
          "required": false,
          "type": "boolean"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/excel-import/import-sub-form": {
      "post": {
        "tags": ["动态表单-导入"],
        "summary": "importSubForm",
        "operationId": "importSubFormUsingPOST",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "file",
          "in": "formData",
          "description": "file",
          "required": true,
          "type": "file"
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string",
          "default": "b785229aabed48b693befca02b381140"
        }, {
          "name": "subProp",
          "in": "query",
          "description": "子表单prop",
          "required": true,
          "type": "string",
          "default": "subFormHide"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-cas-url/area-tree": {
      "get": {
        "tags": ["联动url产品封装"],
        "summary": "省市区",
        "description": "省市区",
        "operationId": "getAreaTreeUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/default-data-collection": {
      "get": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "默认数据采集",
        "description": "默认数据采集",
        "operationId": "defaultDataCollectionUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/delete-data": {
      "delete": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "删除业务数据(纯表单)",
        "operationId": "deleteDataUsingDELETE",
        "produces": ["application/json"],
        "parameters": [{
          "name": "dataId",
          "in": "query",
          "description": "删除数据id",
          "required": true,
          "type": "string"
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/get-template-file-download-pdf": {
      "get": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "套红组件导出pdf",
        "description": "套红组件导出pdf",
        "operationId": "getTemplateFileDownloadPdfUsingGET",
        "produces": ["application/octet-stream", "application/json"],
        "parameters": [{
          "name": "dataId",
          "in": "query",
          "description": "dataId",
          "required": true,
          "type": "string"
        }, {
          "name": "filedName",
          "in": "query",
          "description": "filedName",
          "required": true,
          "type": "string"
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string"
        }, {
          "name": "processInstanceId",
          "in": "query",
          "description": "processInstanceId",
          "required": false,
          "type": "string"
        }, {
          "in": "body",
          "name": "tempContent",
          "description": "tempContent",
          "required": true,
          "schema": {
            "type": "string"
          }
        }, {
          "name": "tenantId",
          "in": "query",
          "description": "tenantId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/list-data": {
      "post": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "查询所有业务数据",
        "operationId": "ListDataUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }, {
          "in": "body",
          "name": "queryCondition",
          "description": "queryCondition",
          "required": true,
          "schema": {
            "$ref": "#/definitions/QueryCondition«Map»"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/position-error": {
      "get": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "定位异常",
        "description": "定位异常",
        "operationId": "positionErrorUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "positionInfo",
          "in": "query",
          "description": "positionInfo",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/query-data": {
      "post": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "分页查询业务数据",
        "operationId": "queryDataUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": false,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": false,
          "type": "integer",
          "format": "int32"
        }, {
          "in": "body",
          "name": "queryCondition",
          "description": "queryCondition",
          "required": true,
          "schema": {
            "$ref": "#/definitions/QueryCondition«Map»"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/query-data-collection": {
      "post": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "分页数据查询",
        "operationId": "queryDataCollectionUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "filterCondition",
          "in": "query",
          "description": "过滤条件（工号，账号id）",
          "required": false,
          "type": "string",
          "enum": ["jobNumber", "accountId"]
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "in": "body",
          "name": "queryCondition",
          "description": "queryCondition",
          "required": true,
          "schema": {
            "$ref": "#/definitions/QueryCondition«支持弹框选择器新建的查询字段及字段条件实体»"
          }
        }, {
          "name": "resourceId",
          "in": "query",
          "description": "资源id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/query-header": {
      "get": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "查询表头",
        "operationId": "queryHeaderUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/rotate-image": {
      "post": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "base64图片旋转",
        "description": "base64图片旋转",
        "operationId": "rotateImageUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "angel",
          "in": "query",
          "description": "angel",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "in": "body",
          "name": "baseImage64",
          "description": "baseImage64",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/save": {
      "post": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "表单数据保存",
        "description": "表单数据保存",
        "operationId": "FormInstanceSaveUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "formData",
          "description": "formData",
          "required": true,
          "schema": {
            "type": "object"
          }
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string"
        }, {
          "name": "isSubmitProcess",
          "in": "query",
          "description": "isSubmitProcess",
          "required": false,
          "type": "boolean"
        }, {
          "name": "procDefId",
          "in": "query",
          "description": "procDefId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/select": {
      "get": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "表单数据查询",
        "description": "表单数据查询",
        "operationId": "FormInstanceSelectUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "dataId",
          "in": "query",
          "description": "查询数据id(如businssKey)",
          "required": true,
          "type": "string"
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string"
        }, {
          "name": "procDefId",
          "in": "query",
          "description": "procDefId",
          "required": false,
          "type": "string"
        }, {
          "name": "taskId",
          "in": "query",
          "description": "taskId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/select-sub-data": {
      "get": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "子表数据查询",
        "description": "用于定时刷新",
        "operationId": "selectSubDataUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "dataId",
          "in": "query",
          "description": "dataId",
          "required": true,
          "type": "string"
        }, {
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }, {
          "name": "subProp",
          "in": "query",
          "description": "subProp",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/sign-save": {
      "post": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "会签环节表单数据保存",
        "description": "会签环节表单数据保存",
        "operationId": "SignFormInstanceSaveUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "formData",
          "description": "formData",
          "required": true,
          "schema": {
            "type": "object"
          }
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string"
        }, {
          "name": "procDefId",
          "in": "query",
          "description": "procDefId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-instance/template-file-download-pdf": {
      "post": {
        "tags": ["流程平台-动态表单实例"],
        "summary": "套红组件导出pdf",
        "description": "套红组件导出pdf",
        "operationId": "templateFileDownloadPdfUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/octet-stream", "application/json"],
        "parameters": [{
          "name": "dataId",
          "in": "query",
          "description": "dataId",
          "required": true,
          "type": "string"
        }, {
          "name": "filedName",
          "in": "query",
          "description": "filedName",
          "required": true,
          "type": "string"
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string"
        }, {
          "name": "processInstanceId",
          "in": "query",
          "description": "processInstanceId",
          "required": false,
          "type": "string"
        }, {
          "in": "body",
          "name": "tempContent",
          "description": "tempContent",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-log/detail": {
      "get": {
        "tags": ["流程平台-纯表单修改日志"],
        "summary": "日志详情",
        "operationId": "detailUsingGET_1",
        "produces": ["*/*"],
        "parameters": [{
          "name": "businessKey",
          "in": "query",
          "description": "业务数据id",
          "required": true,
          "type": "string"
        }, {
          "name": "formId",
          "in": "query",
          "description": "表单id",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/added-column-list": {
      "get": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "查询已添加的字段列表",
        "operationId": "addedColumnListUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/delete": {
      "post": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "删除动态表单",
        "description": "删除动态表单",
        "operationId": "formModelDeleteUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "表单ID",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/delete-query-model": {
      "post": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "删除查询模型信息",
        "operationId": "deleteQueryModelUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "formQueryModelList",
          "description": "formQueryModelList",
          "required": true,
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/FormQueryModel对象"
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/detail": {
      "get": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "详情",
        "description": "传入表单模型id",
        "operationId": "detailUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "clearValue",
          "in": "query",
          "description": "clearValue",
          "required": false,
          "type": "string"
        }, {
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }, {
          "name": "procDefId",
          "in": "query",
          "description": "procDefId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/detail-version": {
      "get": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "详情-历史版本",
        "description": "传入表单模型formVersionId",
        "operationId": "detailVersionUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "formVersionId",
          "in": "query",
          "description": "formVersionId",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/not-added-column-list": {
      "get": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "查询未添加的字段列表",
        "operationId": "notAddedColumnListUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/query": {
      "get": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "分页查询",
        "operationId": "queryUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "creator",
          "in": "query",
          "description": "创建人",
          "required": false,
          "type": "string"
        }, {
          "name": "creatorName",
          "in": "query",
          "description": "创建人姓名",
          "required": false,
          "type": "string"
        }, {
          "name": "id",
          "in": "query",
          "description": "主键",
          "required": false,
          "type": "string"
        }, {
          "name": "manageOrgId",
          "in": "query",
          "description": "管理部门",
          "required": false,
          "type": "string"
        }, {
          "name": "manageOrgName",
          "in": "query",
          "description": "管理部门名称",
          "required": false,
          "type": "string"
        }, {
          "name": "modelJson",
          "in": "query",
          "description": "配置预览",
          "required": false,
          "type": "string"
        }, {
          "name": "modelTable",
          "in": "query",
          "description": "模型对应的数据库表名称",
          "required": false,
          "type": "string"
        }, {
          "name": "name",
          "in": "query",
          "description": "名称描述",
          "required": false,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "remark",
          "in": "query",
          "description": "描述信息",
          "required": false,
          "type": "string"
        }, {
          "name": "status",
          "in": "query",
          "description": "状态,-1:删除,1:正常(可用)",
          "required": false,
          "type": "string"
        }, {
          "name": "templatePath",
          "in": "query",
          "description": "上传的展示视图的excel模板",
          "required": false,
          "type": "string"
        }, {
          "name": "tenantId",
          "in": "query",
          "description": "租户id",
          "required": false,
          "type": "string"
        }, {
          "name": "type",
          "in": "query",
          "description": "类型（business:业务表单,process:流程表单）",
          "required": false,
          "type": "string"
        }, {
          "name": "updateTime",
          "in": "query",
          "description": "更新时间",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/query-his": {
      "get": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "分页查询-历史版本",
        "operationId": "queryHisUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": false,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/save": {
      "post": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "动态表单保存",
        "description": "动态表单保存",
        "operationId": "formModelSaveUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "in": "body",
          "name": "formModel",
          "description": "formModel",
          "required": true,
          "schema": {
            "type": "object"
          }
        }, {
          "name": "manageOrgId",
          "in": "query",
          "description": "管理部门",
          "required": false,
          "type": "string"
        }, {
          "name": "templatePath",
          "in": "query",
          "description": "templatePath",
          "required": false,
          "type": "string"
        }, {
          "name": "type",
          "in": "query",
          "description": "类型（business:业务表单,process:流程表单）",
          "required": false,
          "type": "string",
          "enum": ["business", "process"]
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/save-new-version": {
      "get": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "保存一个新表单版本",
        "description": "保存一个新表单版本",
        "operationId": "saveNewVersionUsingGET",
        "produces": ["application/json"],
        "parameters": [{
          "name": "formId",
          "in": "query",
          "description": "formId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/update-query-model": {
      "post": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "修改查询模型信息",
        "operationId": "updateQueryModelUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "actionType",
          "in": "query",
          "description": "流程状态（所有、已完成、处理中）",
          "required": false,
          "type": "string",
          "enum": ["add", "modify", "up", "down"]
        }, {
          "in": "body",
          "name": "formQueryModelList",
          "description": "formQueryModelList",
          "required": true,
          "schema": {
            "type": "array",
            "items": {
              "$ref": "#/definitions/FormQueryModel对象"
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/version-delete": {
      "delete": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "删除动态表单-历史版本",
        "description": "删除动态表单-历史版本",
        "operationId": "formModelVersionDeleteUsingDELETE",
        "produces": ["application/json"],
        "parameters": [{
          "name": "formVersionId",
          "in": "query",
          "description": "表单ID",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/version-proc-clear": {
      "put": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "表单版本与流程版本对应清空",
        "operationId": "versionProcClearUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "formVersionId",
          "in": "query",
          "description": "formVersionId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/form-model/version-proc-set": {
      "put": {
        "tags": ["流程平台-动态表单模型"],
        "summary": "表单版本与流程版本对应设置",
        "operationId": "versionProcSetUsingPUT",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "formVersionId",
          "in": "query",
          "description": "formVersionId",
          "required": false,
          "type": "string"
        }, {
          "name": "procDefId",
          "in": "query",
          "description": "procDefId",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/gradeManager/listGradeData": {
      "get": {
        "tags": ["流程二开-获取年级信息"],
        "summary": "获取年级信息",
        "operationId": "listGradeDataUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/deleteXsdkbmd": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "删除学生打卡白名单",
        "operationId": "deleteXsdkbmdUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "in": "body",
          "name": "xhs",
          "description": "学号",
          "required": false,
          "schema": {
            "$ref": "#/definitions/List"
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/ding": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "钉钉提醒",
        "operationId": "dingUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "in": "body",
          "name": "xhs",
          "description": "xhs",
          "required": true,
          "schema": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/dingOcr": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "一键提醒",
        "operationId": "dingOcrUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/export": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "健康打卡统计导出",
        "operationId": "exportUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "bjmc",
          "in": "query",
          "description": "bjmc",
          "required": false,
          "type": "string"
        }, {
          "name": "dkrq",
          "in": "query",
          "description": "dkrq",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "fdyxm",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "jssj",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "kssj",
          "required": false,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "njdm",
          "required": false,
          "type": "string"
        }, {
          "name": "sfbjfz",
          "in": "query",
          "description": "sfbjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sffdyfz",
          "in": "query",
          "description": "sffdyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfjsfz",
          "in": "query",
          "description": "sfjsfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfnjfz",
          "in": "query",
          "description": "sfnjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfxyfz",
          "in": "query",
          "description": "sfxyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfzyfz",
          "in": "query",
          "description": "sfzyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "xyid",
          "in": "query",
          "description": "xyid",
          "required": false,
          "type": "string"
        }, {
          "name": "zymc",
          "in": "query",
          "description": "zymc",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/exportInventory": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "清单导出接口",
        "operationId": "exportInventoryUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "dkzt",
          "in": "query",
          "description": "打卡状态",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "辅导员姓名",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "结束日期",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "开始日期",
          "required": false,
          "type": "string"
        }, {
          "name": "nj",
          "in": "query",
          "description": "年级",
          "required": false,
          "type": "string"
        }, {
          "name": "rq",
          "in": "query",
          "description": "日期",
          "required": false,
          "type": "string"
        }, {
          "name": "xm",
          "in": "query",
          "description": "姓名",
          "required": false,
          "type": "string"
        }, {
          "name": "xy",
          "in": "query",
          "description": "学院",
          "required": false,
          "type": "string"
        }, {
          "name": "yczt",
          "in": "query",
          "description": "异常状态",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/exportStatisticalDetailsByTime": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "导出根据时间获取统计明细",
        "operationId": "exportStatisticalDetailsByTimeUsingPOST",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [{
          "name": "bjmc",
          "in": "query",
          "description": "班级名称",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "辅导员姓名",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "结束时间",
          "required": true,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "开始时间",
          "required": true,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "年级代码",
          "required": false,
          "type": "string"
        }, {
          "name": "sort",
          "in": "query",
          "description": "排序 asc：升序、desc 降序",
          "required": false,
          "type": "string",
          "default": "desc"
        }, {
          "name": "xsxx",
          "in": "query",
          "description": "学号、姓名、手机号",
          "required": false,
          "type": "string"
        }, {
          "name": "xymc",
          "in": "query",
          "description": "学院名称",
          "required": false,
          "type": "string"
        }, {
          "name": "zymc",
          "in": "query",
          "description": "专业名称",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/getDkxxByXhAndSj": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "根据学生学号时间范围查询",
        "operationId": "getDkxxByXhAndSjUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "dkzt",
          "in": "query",
          "description": "打卡状态",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "结束时间",
          "required": true,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "开始时间",
          "required": true,
          "type": "string"
        }, {
          "name": "xh",
          "in": "query",
          "description": "学号",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/getIntradayDKXX": {
      "get": {
        "tags": ["流程二开-健康打卡"],
        "summary": "查询当天打卡信息",
        "operationId": "getIntradayDKXXUsingGET",
        "produces": ["*/*"],
        "parameters": [{
          "name": "xh",
          "in": "query",
          "description": "学号",
          "required": true,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/getInventory": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "清单查询接口",
        "operationId": "getInventoryUsingPOST_1",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "dkzt",
          "in": "query",
          "description": "打卡状态",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "辅导员姓名",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "结束日期",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "开始日期",
          "required": false,
          "type": "string"
        }, {
          "name": "nj",
          "in": "query",
          "description": "年级",
          "required": false,
          "type": "string"
        }, {
          "name": "rq",
          "in": "query",
          "description": "日期",
          "required": false,
          "type": "string"
        }, {
          "name": "xm",
          "in": "query",
          "description": "姓名",
          "required": false,
          "type": "string"
        }, {
          "name": "xy",
          "in": "query",
          "description": "学院",
          "required": false,
          "type": "string"
        }, {
          "name": "yczt",
          "in": "query",
          "description": "异常状态",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/getInventoryPage": {
      "post": {
        "tags": ["流程二开-健康打卡"],
        "summary": "清单查询接口-分页",
        "operationId": "getInventoryPageUsingPOST",
        "consumes": ["application/json"],
        "produces": ["*/*"],
        "parameters": [{
          "name": "dkzt",
          "in": "query",
          "description": "打卡状态",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "辅导员姓名",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "结束日期",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "开始日期",
          "required": false,
          "type": "string"
        }, {
          "name": "nj",
          "in": "query",
          "description": "年级",
          "required": false,
          "type": "string"
        }, {
          "name": "pageNum",
          "in": "query",
          "description": "pageNum",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "pageSize",
          "in": "query",
          "description": "pageSize",
          "required": true,
          "type": "integer",
          "format": "int32"
        }, {
          "name": "rq",
          "in": "query",
          "description": "日期",
          "required": false,
          "type": "string"
        }, {
          "name": "xm",
          "in": "query",
          "description": "姓名",
          "required": false,
          "type": "string"
        }, {
          "name": "xy",
          "in": "query",
          "description": "学院",
          "required": false,
          "type": "string"
        }, {
          "name": "yczt",
          "in": "query",
          "description": "异常状态",
          "required": false,
          "type": "string"
        }],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ResultInfo«IPage«F_XSJKDK_QDTJ»»"
            }
          }
        },
        "security": [{
          "apiKey": ["all"]
        }],
        "deprecated": false
      }
    },
    "/jkdk/getStatisticsData": {
      "get": {
        "tags": ["流程二开-健康打卡"],
        "summary": "获取健康打卡统计信息",
        "operationId": "getStatisticsDataUsingGET_1",
        "produces": ["*/*"],
        "parameters": [{
          "name": "bjmc",
          "in": "query",
          "description": "bjmc",
          "required": false,
          "type": "string"
        }, {
          "name": "dkrq",
          "in": "query",
          "description": "dkrq",
          "required": false,
          "type": "string"
        }, {
          "name": "fdyxm",
          "in": "query",
          "description": "fdyxm",
          "required": false,
          "type": "string"
        }, {
          "name": "jssj",
          "in": "query",
          "description": "jssj",
          "required": false,
          "type": "string"
        }, {
          "name": "kssj",
          "in": "query",
          "description": "kssj",
          "required": false,
          "type": "string"
        }, {
          "name": "njdm",
          "in": "query",
          "description": "njdm",
          "required": false,
          "type": "string"
        }, {
          "name": "sfbjfz",
          "in": "query",
          "description": "sfbjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sffdyfz",
          "in": "query",
          "description": "sffdyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfjsfz",
          "in": "query",
          "description": "sfjsfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfnjfz",
          "in": "query",
          "description": "sfnjfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfxyfz",
          "in": "query",
          "description": "sfxyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "sfzyfz",
          "in": "query",
          "description": "sfzyfz",
          "required": false,
          "type": "string",
          "default": "0"
        }, {
          "name": "xyid",
          "in": "query",
          "description": "xyid",
          "required": false,
          "type": "string"
        }, {
[...]
